@font-face{
  font-family: 'DigiFont';
  src: local('DigiFont'), url(./fonts/digifont.ttf) format('truetype');
}
body{
  padding: 0;
  margin: 0;
  background-color: #055ccd;
}
*{
  box-sizing: border-box;
  font-family: DigiFont;
  
}
main{
  flex-grow: 1;
}
#body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* yellow #ffcb10 */
/* bluebg #055ccd */
/* blue card #7badec */
/* black font 365651 */
/* red font e42c48 */